@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);
@import url(./vendor/fonts/Roboto/roboto.css);
@import url(./vendor/fonts/Roboto-Slab/roboto-slab.css);
@import url(./vendor/fonts/Source-Sans-Pro/source-sans-pro.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Navigation/Navigation.css);
@import url(./components/MobileNavigation/MobileNavigation.css);
@import url(./components/Main/Main.css);
@import url(./components/SearchForm/SearchForm.css);
@import url(./components/Preloader/Preloader.css);
@import url(./components/NewsCardList/NewsCardList.css);
@import url(./components/NewsCard/NewsCard.css);
@import url(./components/About/About.css);
@import url(./components/SavedNews/SavedNews.css);
@import url(./components/SavedNewsHeader/SavedNewsHeader.css);
@import url(./components/PopupWithForm/PopupWithForm.css);
@import url(./components/Login/Login.css);
@import url(./components/Register/Register.css);
@import url(./components/InfoTooltip/InfoTooltip.css);
@import url(./components/Footer/Footer.css);




